wheel #(built distribution, ready-to-install format)
numpy
pandas
matplotlib
eeglib
seaborn
mne #(package for exploring, visualizing, and analyzing human neurophysiological data: MEG, EEG, sEEG, ECoG, ...)
scipy
scikit-learn
PyWavelets
PyEEG
keras
tensorflow
lmlib #(library for EEG signal processing and machine learning)